/* VARIABLES */
$BASE--COLOR: #ff7f50;

$color1: #f4f4f4;
$color2: #3197EE;

/* DEFAULT CONFIG */
:root {
    font-family: 'Poppins', sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    text-decoration: none;
    color: black;

    width: 100%;
    height: 100%;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $BASE--COLOR;
    }
}

input {
    width: 100%;
    height: 100%;

    padding-block: 16px;

    border: none;
    border-radius: 8px;

    font-size: 18px;
    letter-spacing: .05em;
    color: black;

    background-color: #fff;

    &:focus {
        outline: none;
        border: none;
    }
}

em {
    font-style: italic;
    color: $BASE--COLOR;
}

/* SHARED CLASS */
.OBS {
    margin-top: 32px;

    text-align: center;
    font-size: 16px;
}

/* COMPONENTS WITH FORM */
.ICON {
    width: auto;
    padding-inline: 12px;
}

.TEXTFIELD {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 16px;

    border: 2px solid #E2E8F0;
    border-radius: 8px;

    font-size: 18px;
    color: black;

    background-color: #fff;

    cursor: pointer;

    &:hover {
        outline: none;
        border: 2px solid $BASE--COLOR;
    }

    &--ACCEPT {
        border-color: #7fff00;
    }

    &--REJECT {
        border-color: #ff6347;
    }

    &--COMP {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        column-gap: 16px;
    }

    &--RADIO {
        margin-bottom: 16px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        row-gap: 16px;
        column-gap: 16px;

        justify-content: flex-start;

        width: 100%;

        label {
            span {
                display: block;

                padding: 12px 16px;
                position: relative;

                border: 2px solid #E2E8F0;
                border-radius: 8px;

                text-align: center;
                color: $BASE--COLOR;
                letter-spacing: .05em;

                cursor: pointer;

                background-color: #fff;

                transition: background-color .5s ease;
            }
        }

        input {
            clip: rect(0 0 0 0);
            clip-path: inset(100%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;

            &:checked+span {
                border: 2px solid $BASE--COLOR;
                background-color: $BASE--COLOR;
                z-index: 1;
                color: #fff;
            }
        }
    }

    &--EXTRA {
        width: 100%;

        margin-bottom: 16px;
        margin-top: 8px;

        font-weight: 600;
        text-align: right;
        color: $BASE--COLOR;

        &:hover button {
            text-decoration: underline;
        }
    }
}

/* BUTTONS */
.BUTTON {
    width: 100%;

    padding: 16px 24px;
    margin-top: 16px;

    border: 2px solid transparent;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 700;

    color: white;
}

.BUTTON--OUTLINE {
    @extend .BUTTON;

    border: 2px solid $BASE--COLOR;

    color: $BASE--COLOR;

    &:hover {
        color: white;

        background-color: $BASE--COLOR;
    }
}

.BUTTON--FULL {
    @extend .BUTTON;

    background-color: $BASE--COLOR;

    &:hover {
        background-color: transparent;

        border: 2px solid $BASE--COLOR;

        color: $BASE--COLOR;
    }
}

.BUTTON-ACTIVE {
    text-decoration: underline;
    text-decoration-color: $BASE--COLOR;
}
