/* VARIABLES */
$BASE--COLOR: #3197EE;

$color1: #f4f4f4;

$Large: 1200px;
$Normal: 992px;
$Medium: 768px;
$Small: 600px;

/* DEFAULT CONFIG */
:root {
    font-family: 'Poppins', sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    text-decoration: none;
    color: black;

    width: 100%;
    height: 100%;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $BASE--COLOR;
    }
}

input {
    @extend .BODY;

    width: 100%;
    height: 100%;

    padding-block: 16px;

    border: none;
    border-radius: 8px;

    color: black;

    background-color: #fff;

    &:focus {
        outline: none;
        border: none;
    }
}

em {
    font-style: italic;
    color: $BASE--COLOR;
}

/* FONT SIZE */
.DISPLAY {
    font-weight: 800;

    font-size: 36px;
    font-style: normal;
    line-height: 44px;

    @media (min-width: $Normal) {
        font-size: 45px;
        font-style: normal;
        line-height: 52px;
    }

    @media (min-width: $Large) {
        font-size: 57px;
        line-height: 64px;
        letter-spacing: -0.25px;
    }

}

.HEADLINE {
    font-style: normal;
    font-weight: 600;

    font-size: 24px;
    line-height: 32px;

    @media (min-width: $Normal) {
        font-size: 28px;
        line-height: 36px;
    }

    @media (min-width: $Large) {
        font-size: 32px;
        line-height: 40px;
    }
}

.TITLE {
    font-style: normal;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;

    @media (min-width: $Normal) {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.15px;
    }

    @media (min-width: $Large) {
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;
    }
}

.LABEL {
    font-style: normal;
    font-weight: 500;

    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.5px;

    @media (min-width: $Normal) {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
    }

    @media (min-width: $Large) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
    }
}

.BODY {
    font-style: normal;
    font-weight: 400;

    font-size: 12px;
    line-height: 16px;

    @media (min-width: $Normal) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
    }

    @media (min-width: $Large) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
    }
}


/* SHARED CLASS */
.OBS {
    @extend .LABEL;

    margin-top: 32px;

    text-align: center;
}

.MARGIN {
    margin-inline: 2.5vmin;

    @media (min-width: $Medium) {
        margin-inline: 5vmin;
    }

    @media (min-width: $Normal) {
        margin-inline: 10vmin;
    }

    @media (min-width: $Large) {
        margin-inline: 15vmin;
    }
}

.PADDING {
    padding-inline: 2.5vmin;

    @media (min-width: $Medium) {
        padding-inline: 5vmin;
    }

    @media (min-width: $Normal) {
        padding-inline: 10vmin;
    }

    @media (min-width: $Large) {
        padding-inline: 15vmin;
    }
}


/* COMPONENTS WITH FORM */
.ICON {
    width: auto;
    padding-inline: 12px;
}

.FORM {
    color: black;

    border-radius: 8px;

    padding: 40px;

    background-color: #F8FAFC;
}

.TEXTFIELD {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #E2E8F0;
    border-radius: 8px;

    background-color: #fff;

    cursor: pointer;

    &:not(:has(+ .TEXTFIELD--MESSAGE, + #FormPassword > .TEXTFIELD--MESSAGE, + #FormPassword > .TEXTFIELD--EXTRA)) {
        margin-bottom: 16px;
    }

    &:hover {
        outline: none;
        border: 2px solid $BASE--COLOR;
    }

    &--ACCEPT {
        border-color: #7fff00;
    }

    &--REJECT {
        border-color: #ff6347;

        -webkit-animation: btn-blink 2s linear infinite;
        -moz-animation: btn-blink 2s linear infinite;
        -ms-animation: btn-blink 2s linear infinite;
        -o-animation: btn-blink 2s linear infinite;
        animation: btn-blink 2s linear infinite;
    }

    &--COMP {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        column-gap: 16px;
    }

    &--RADIO {
        margin-bottom: 16px;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        row-gap: 16px;
        column-gap: 16px;

        justify-content: flex-start;

        width: 100%;

        label {
            span {
                display: block;

                padding: 12px 16px;
                position: relative;

                border: 2px solid #E2E8F0;
                border-radius: 8px;

                text-align: center;
                color: $BASE--COLOR;
                letter-spacing: .05em;

                cursor: pointer;

                background-color: #fff;

                transition: background-color .5s ease;
            }
        }

        input {
            clip: rect(0 0 0 0);
            clip-path: inset(100%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;

            &:checked+span {
                border: 2px solid $BASE--COLOR;
                background-color: $BASE--COLOR;
                z-index: 1;
                color: #fff;
            }
        }
    }

    &--EXTRA {
        @extend .LABEL;

        width: 100%;

        margin-bottom: 16px;
        margin-top: 8px;

        text-align: right;
        color: $BASE--COLOR;

        &:hover button {
            text-decoration: underline;
        }
    }
}

/* ANIMATION */
@keyframes btn-blink {

    0% {
        border-color: #E2E8F0;
    }

    50% {
        border-color: #ff6347;
    }

    100% {
        border-color: #E2E8F0;
    }
}

/* BUTTONS */
.BUTTON {
    @extend .TITLE;

    width: 100%;

    padding: 16px 24px;
    margin-top: 16px;

    border: 2px solid transparent;
    border-radius: 8px;

    font-weight: 600;

    color: white;

    transition: all 300ms linear;

    &:disabled {
        opacity: .5;
    }
}

.BUTTON--OUTLINE {
    @extend .BUTTON;

    border: 2px solid $BASE--COLOR;

    color: $BASE--COLOR;

    &:hover {
        color: white;

        background-color: $BASE--COLOR;
    }
}

.BUTTON--FULL {
    @extend .BUTTON;

    background-color: $BASE--COLOR;

    &:hover {
        background-color: transparent;

        border: 2px solid $BASE--COLOR;

        color: $BASE--COLOR;
    }
}

.BUTTON-ACTIVE {
    text-decoration: underline;
    text-decoration-color: $BASE--COLOR;
}